<section class="navegador">
<nav class="container navbar">
  <div class="nav container">
    
    <div class="icono">
      <a class="navbar-brand" href="#">
        <img src="../assets/logo.png" alt="" width="30" height="24">
      </a>
    </div>
    <div class="boton">
      <ul class="nav d-flex justify-content-end align-items-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Peliculas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ingresar →</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>

<div class="container principal">
  <div class="secundario">
  <div class="titulo"><h1>PelisUP!</h1></div>
  <div class="subtitulo"><p>Plataforma para ver peliculas y series 😉</p></div>
  <div class="box">
    <div class="container-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi1 bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
        <input type="search" id="search" placeholder="    Buscar peliculas y series" />
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
      <label class="btn" for="btnradio1">Todos</label>
    
    
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn" for="btnradio2">Peliculas</label>
    

    
     <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
     <label class="btn" for="btnradio3">Series</label>
    
  </div>
  <section class="result row">
    <div class="palabra1 col-6"><p>TODOS</p></div>
    <div class="palabra2 col-6"><h6>(120)</h6></div>
  </section>
</div>
</div>

  <div class="container card-movie">
    <div class="row">
    <div class="son col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="../assets/portadas/img1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Black Widow</h6>
          <div class="valoracion row d-flex">
              <div class=" star col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star col" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
              </div>
              <div class="numero col-6">
                <p>6.8</p>
              </div>
          </div>
          </div>
      </div>
    </div>
    <div class="son col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="../assets/portadas/img2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Shang Chi</h6>
          <div class="valoracion row d-flex">
              <div class=" star col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star col" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
              </div>
              <div class="numero col-6">
                <p>7.9</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="son col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="../assets/portadas/img3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Loki</h6>
          <div class="valoracion row d-flex">
              <div class=" star col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star col" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
              </div>
              <div class="numero col-6">
                <p>8.4</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="son col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="../assets/portadas/img4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">How I Met Your Mother</h6>
          <div class="valoracion row d-flex">
              <div class=" star col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star col" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
              </div>
              <div class="numero col-6">
                <p>8.3</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="son col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="../assets/portadas/img5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Money Heist</h6>
          <div class="valoracion row d-flex">
              <div class=" star col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star col" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
              </div>
              <div class="numero col-6">
                <p>8.3</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="son col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="../assets/portadas/img6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Friends</h6>
          <div class="valoracion row d-flex">
              <div class=" star col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star col" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
              </div>
              <div class="numero col-6">
                <p>8.8</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="son col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="../assets/portadas/img7.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">The Big Bang Theory</h6>
          <div class="valoracion row d-flex">
              <div class=" star col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star col" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
              </div>
              <div class="numero col-6">
                <p>8.1</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="son col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="../assets/portadas/img8.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Two And a Half Men</h6>
          <div class="valoracion row d-flex">
              <div class=" star col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star col" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
              </div>
              <div class="numero col-6">
                <p>7</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>