.navbar {
    height: 60px;
    background-color: #121829;
}

.nav-link{
    color: aliceblue !important;
}

.icono{
    position: relative;
}

.principal{
    position: relative;
    background-color: #141e30;
    height: 410px;
}

.secundario{
    position: absolute;
    width: 900px;
    margin-top: 50px;
}

.titulo{
    height: 50px;
    color: white;
}

.subtitulo{
    height: 40px;
    color: #8E95A9;
    font-family: Popping;
    font-style: normal;
}

.box{
    position: absolute;
}

.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.bi1{
    width: 20px;
    height: 35px;
    position: absolute;
    left: 22px;
    margin-top: 8px;
}

.container-1 input#search{
    width: 300px;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #323B54;
}

.form-control{
    width: 350px;
    margin-left: 0px;
    background-color: #121829;
}

.btn-group{
    width: 450px;
    margin-top: 100px;
    margin-right: 2px;
    background-color: rgb(194, 193, 193);
    border-radius: 5px;
}

.result{
    color: #8E95A9;
    font-family: Popping;
    font-style: normal;
    font-size: 25px;
    margin-top: 50px;
}

.tarjetas{
    width: 900px;
}

.son{
    margin-bottom: 20px;
}

.card-movie{
    background-color: #141e30;
}

.card{
    height: 440px;
    background-color: rgba(128, 128, 128, 0.748);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.card-img-top{
    width: 250px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-title{
    color: white;
}

.valoracion{
    height: 40px;
    width: 90px;
    position: relative;
    bottom: 419px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.numero{
    position: absolute;
    left: 25px;
    top: 8px;
    color: yellow;
}

.star{
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--black75);
    color: var(--warning500);
    position: absolute;
    color: yellow;
}

.bi{
    width: 20px;
    height: 35px;
    position: absolute;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: blue;
    color: aliceblue;
}

.palabra1{
    width: 93px;
    height: 40px;
}

.palabra2{
    width: 93px;
    margin-top: 10px;
}